* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grilla {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas: "header" "main" "footer";
  grid-row-gap: 10px;
  background-image: url(../img/jazzwallpaper.jpg);
  background-size: 500px;
  height: 100vh;
  width: 100vw; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  height: 20vh;
  padding: 0 50px;
  background-color: black; }
  header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: #985dcf;
    border: 2px solid #985dcf;
    border-radius: 20px;
    padding: 10px; }
  header div img {
    width: 130px;
    border: 2px solid #985dcf;
    border-radius: 45px;
    padding: 10px;
    margin-left: 50px; }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header nav ul li {
      list-style: none;
      border: 2px solid #985dcf;
      border-radius: 7px;
      margin: 2px;
      padding: 2px; }
      header nav ul li a {
        padding: 0 10px;
        text-decoration: none;
        list-style: none;
        color: #985dcf;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 00; }

/* Index */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main h2 {
    margin-bottom: 50px;
    background-image: linear-gradient(black, #985dcf);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #985dcf;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    margin-top: 35px;
    padding: 4px 2px; }
  main article ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main article ul li {
      text-align: center;
      margin-bottom: 55px;
      width: 300px;
      background-color: #985dcf;
      border: 2px solid;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 25px;
      background-image: linear-gradient(black, #985dcf); }
      main article ul li:hover {
        box-shadow: 0 0.4rem 0.4rem black; }
      main article ul li img {
        width: 250px; }
      main article ul li p {
        border-bottom: 3px solid black;
        padding-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px; }
      main article ul li h3 {
        color: #4f3c5f; }

/* Productos */
section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  section h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background-image: linear-gradient(black, #985dcf);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    margin-top: 35px;
    padding: 4px 2px; }
  section article ul li {
    text-align: center;
    margin-bottom: 55px;
    width: 300px;
    background-color: #985dcf;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 25px;
    background-image: linear-gradient(black, #985dcf);
    color: #4f3c5f; }
    section article ul li:hover {
      box-shadow: 0 0.4rem 0.4rem black; }
    section article ul li p {
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px; }

/* Quienes Somos */
section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(../img/jazzwallpaper.jpg);
  background-size: 500px; }
  section article h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(black, #985dcf); }
  section article img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border: 3px solid black; }
  section article .jamesimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 10px;
    font-size: 20px;
    background-color: #985dcf;
    border: 3px solid black;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#362c2c, #985dcf); }

/* Contacto */
main {
  background-image: url(../img/jazzwallpaper.jpg);
  background-size: 500px; }
  main fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: #131212;
    border-image: initial;
    margin: 15px;
    height: 350px;
    background-color: #985dcf;
    width: 20%;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 5px; }
    main fieldset legend {
      color: #985dcf;
      background-color: black;
      border: 2px solid black;
      border-radius: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/* Ubicacion */
main .mapa {
  margin: 15px 0 15px 0;
  display: flex;
  justify-content: center; }

/* Desktop First */
@media (max-width: 1200px) {
  .logo {
    font-size: 2.2rem; } }

@media (max-width: 1024px) {
  .logo {
    font-size: 1.5rem; } }

@media (max-width: 600px) {
  body {
    height: 100vh; }
  .grilla {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "header" "main" "footer";
    grid-row-gap: 10px; }
    .grilla header {
      grid-area: header;
      background-color: black; }
    .grilla main {
      grid-area: main; }
    .grilla footer {
      grid-area: footer; }
  .mapa {
    width: 400px;
    display: flex;
    justify-content: center; }
  header {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "titulo" "imgmiles" "navegador";
    grid-row-gap: 10px;
    margin-bottom: 100px;
    background-color: black; }
  .logo {
    grid-area: titulo;
    padding-left: 55px;
    font-size: 2rem;
    margin-top: 10px;
    background-color: black; }
  .miles {
    grid-area: imgmiles;
    margin-left: 170px;
    background-color: black; }
  .navegador {
    grid-area: navegador;
    margin-bottom: 15px;
    background-color: black; }
  main {
    height: 588px;
    width: 100%; }
  footer {
    margin-top: 2200px; } }

@media (max-width: 480px) {
  .body {
    background-color: black; } }

@media (max-width: 320px) {
  .body {
    background-color: black; } }

footer {
  background-color: black;
  grid-area: footer;
  color: #985dcf;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; }
  footer a {
    text-decoration: none; }
  footer div img {
    padding: 7px; }

/* Responsive */
@media (max-width: 1200px) {
  .logo {
    font-size: 2.2rem; } }

@media (max-width: 1024px) {
  .logo {
    font-size: 1.5rem; } }

@media (max-width: 600px) {
  body {
    height: 100vh; }
  .grilla {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "header" "main" "footer";
    grid-row-gap: 10px; }
    .grilla header {
      grid-area: header;
      background-color: black; }
    .grilla main {
      grid-area: main; }
    .grilla footer {
      grid-area: footer; }
  .mapa {
    width: 400px;
    display: flex;
    justify-content: center; }
  header {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "titulo" "imgmiles" "navegador";
    grid-row-gap: 10px;
    margin-bottom: 100px;
    background-color: #050505; }
  .logo {
    grid-area: titulo;
    padding-left: 55px;
    font-size: 2rem;
    margin-top: 10px;
    background-color: black; }
  .miles {
    grid-area: imgmiles;
    margin-left: 170px;
    background-color: black; }
  .navegador {
    grid-area: navegador;
    margin-bottom: 15px;
    background-color: black; }
  main {
    height: 588px;
    width: 100%; }
  footer {
    margin-top: 2200px; }
  /*quienes somos */
  .articlesection .jamesimg {
    width: 300px;
    margin-top: 150px;
    text-align: center; } }

@media (max-width: 480px) {
  .body {
    background-color: black; } }

@media (max-width: 320px) {
  .body {
    background-color: black; } }

/* Quienes Somos */
@media (max-width: 600px) {
  .jamesimg {
    width: 200px;
    background-color: #830a0a; } }
