/* Index */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-bottom: 50px;
        background-image: linear-gradient(black, rgb(152, 93, 207));
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: $color-principal;
        border: 2px solid black;
        border-radius: 10px;
        width: 250px;
        margin-top: 35px;
        padding: 4px 2px;
    }
    article {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li  {
                    text-align: center;
                    margin-bottom: 55px;
                    width: 300px;
                    background-color: rgb(152, 93, 207);
                    border: 2px solid;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    padding: 25px;
                    background-image: linear-gradient(black, rgb(152, 93, 207));
                    &:hover {
                    box-shadow: 0 0.4rem 0.4rem black;
                    }
                img {
                    width: 250px;
                }
                p {
                    border-bottom: 3px solid black;
                    padding-bottom: 10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 18px;
                }
                h3 {
                    color: rgb(79, 60, 95);
                }
            }
            
        }
    }
}

/* Productos */

section {
        display: flex;
        flex-direction: column;
        align-items: center;
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        background-image: linear-gradient(black, rgb(152, 93, 207));
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: blueviolet;
        border: 2px solid black;
        border-radius: 10px;
        width: 250px;
        margin-top: 35px;
        padding: 4px 2px;
    }
    article {
        ul {
            li {
                text-align: center;
                margin-bottom: 55px;
                width: 300px;
                background-color: rgb(152, 93, 207);
                border: 2px solid;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 25px;
                background-image: linear-gradient(black, rgb(152, 93, 207));
                color: rgb(79, 60, 95);

                &:hover {
                box-shadow: 0 0.4rem 0.4rem black; }
                h3 {

                }
                p {
                    color: black;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 18px;
}



                }
            
        }
    }
}


/* Quienes Somos */

section {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url(../img/jazzwallpaper.jpg);
        background-size: 500px;
        h2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            background-image: linear-gradient(black, rgb(152, 93, 207));

        }
        img {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            font-size: 20px;
            border: 3px solid black;
        }
         .jamesimg { 
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 800px;
                padding: 10px;
                font-size: 20px;
                background-color: $color-principal;
                border: 3px solid black;
                margin: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                background-image: linear-gradient(rgb(54, 44, 44), $color-principal);

            
        }
    }
}

/* Contacto */

main {
    background-image: url(../img/jazzwallpaper.jpg);
    background-size: 500px;


fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(19, 18, 18);
    border-image: initial;
    margin: 15px;
    height: 350px;
    background-color: $color-principal;
    width: 20%;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 5px;

    legend {
        color: $color-principal;
    background-color: black;
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
        }
            
    }
}

/* Ubicacion */


main {
    .mapa {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    }
}

    



/* Desktop First */


@media (max-width: 1200px) {
    .logo {
        font-size: 2.2rem;
    }
}
@media (max-width: 1024px) {
    .logo {
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
   
}

@media (max-width: 600px) {

    body {
        height: 100vh;
    }

    .grilla {
        width: 100%;
        // height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr 0.5fr;
        grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
        grid-row-gap: 10px;

        header {
            grid-area: header;
            // height: 20vh;
            background-color: black;

        }
        main {
            grid-area: main;
            // height: 60vh;
        }
        footer {
            grid-area: footer;
            // height: 20vh;
        }
        
    }

    .mapa{
        width: 400px;
    display: flex;
    justify-content: center;
    }

header {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: 
        "titulo"
        "imgmiles"
        "navegador"
        ;
    grid-row-gap: 10px; 
    margin-bottom: 100px;
    background-color: black;
    
}

.logo {
    grid-area: titulo;
    padding-left: 55px;
    font-size: 2rem;
    margin-top: 10px;
    background-color: black;
}
.miles {
    grid-area: imgmiles;
    margin-left: 170px;
    background-color: black;

}
.navegador {
    grid-area: navegador;
    margin-bottom: 15px;
    background-color: black;

}

main {
    height: 588px;
    width: 100%;
}

footer {
    margin-top: 2200px;
    // height: 100px;
}


}

@media (max-width: 480px) {
    .body {
        background-color: black; 
    }
}
@media (max-width: 320px) {
    .body {
        background-color: black; 
    }
}


