/* Responsive */


@media (max-width: 1200px) {
    .logo {
        font-size: 2.2rem;
    }
}
@media (max-width: 1024px) {
    .logo {
        font-size: 1.5rem;
    }
}


@media (max-width: 600px) {

    body {
        height: 100vh;
    }

    .grilla {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr 0.5fr;
        grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
        grid-row-gap: 10px;

        header {
            grid-area: header;
            background-color: rgb(0, 0, 0);

        }
        main {
            grid-area: main;
        }
        footer {
            grid-area: footer;
        }
        
    }

    .mapa{
        width: 400px;
    display: flex;
    justify-content: center;
    }

header {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: 
        "titulo"
        "imgmiles"
        "navegador"
        ;
    grid-row-gap: 10px; 
    margin-bottom: 100px;
    background-color: rgb(5, 5, 5);
    
}

.logo {
    grid-area: titulo;
    padding-left: 55px;
    font-size: 2rem;
    margin-top: 10px;
    background-color: black;
}
.miles {
    grid-area: imgmiles;
    margin-left: 170px;
    background-color: black;

}
.navegador {
    grid-area: navegador;
    margin-bottom: 15px;
    background-color: black;

}

main {
    height: 588px;
    width: 100%;
}

footer {
    margin-top: 2200px;
}


/*quienes somos */



.articlesection .jamesimg {
    width: 300px;
    margin-top: 150px;
    text-align: center;
}



}

@media (max-width: 480px) {
    .body {
        background-color: black; 
    }
}
@media (max-width: 320px) {
    .body {
        background-color: black; 
    }
}






